/*Set the location of the switch*/
.tapTalkSwitchWrapper {
    position: absolute;
    right: 20px
}

.openBtnSideMenu:hover {
  background-color: #444;
}

#openHamburgerMenuButton
{
    float: left;
}

#searchButtonNavBar
{
    float: left;
}

#navBar
{
     z-index: 10;
}