/*General stats that will be shared by the various side panels*/
.sidePanel {
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  background-color: #fff; /* White*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  transition: 0.01s; /* 0.5 second transition effect to slide in the sidepanel */
}