.headline_image
{
    width: 100%;
    height: 100%;
    margin: auto;
}

.articleTitleContainer
{
    background: #E8E8E8;
    padding: 10px 20px;
}

#wrapper.toggled .articleTitleContainer {
    background: rgba(232, 232, 232, 0.5);
}

.headline_title
{
    margin: auto;
    font-size: 28px;
    font-family: lora;
    font-style: bolder;
    font-weight: 900;
}

#articleMetaData
{
    left: 0px;
}

.articleStatisticDataLabel
{
    font-size: 10px;
    font-family: lato;
}

.articleMetaDataLabel
{
    font-size: 16px;
    font-family: lato;
    font-style: italic;
}

.articleMetaDataLabel2
{
    font-size: 16px;
    font-family: lato;
    font-style: bold;
    font-weight: 900;
}


.tapLabel
{
    color: #D72F1D;
    font-size: 12px;
    font-family: lato;
    font-style: bold;
}

.articleContent
{
    font-size: 16px;
    font-family: lato;
    font-style: normal;
   /* style="word-wrap:break-word"; */
}

.lineInTheMiddle
{
    width: 2px;
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: -1px;
}

.commentIcon {
    height: 15px;
    width: 15px; 
    z-index: 1px;
}

