div .NeedBorders {
  border: 1px solid black;
  padding: 10px;
}

.tutorialOverlay {
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0;
}

.test {
  color: green
}