{% extends "./base.html" %}

{% load static %}

{% block content %}

<div class="text-center">
    <img src="{{ article.picture_src }}" alt="Article Image" width="100%" class="gradient">
</div>

<div class="container-fluid">

    <div class="row align-items-center articleTitleContainer">

        <!-- Metadata -->
        <div style="padding: 0px; width: 100%;">
            <div style="padding: 0px; float: left;"><img class="squareIcon" src="{% static 'images/icons/views.png' %}" alt="num of views"><label class="articleStatisticDataLabel">5 MIN</label></div>
            <div style="padding: 0px; float: right; padding-left: 10px"><img class="squareIcon" src="{% static 'images/icons/eyes.png' %}" alt="num of views"><label class="articleStatisticDataLabel">1K</label></div>
            <div style="padding: 0px; float: right;"><img class="squareIcon" src="{% static 'images/icons/arrow.png' %}" alt="num of shares"><label class="articleStatisticDataLabel">692</label></div>
        </div>

        <hr>

        <!-- Headline -->
        <h1 class="headline_title" style="padding-top: 5px;">
            {{ article.headline }}
        </h1>

        <div class="articleMetaDataLabel" style="padding: 8px 0; color: #828282">
            {{ article.byline }}
        </div>
        
        <!-- Author and Date Posted -->
        <div>
            <div id="articleMetaData" style="padding-bottom: 8px;">
                <div style="padding: 0px;">
                    <span class="articleMetaDataLabel" style="margin-right: 5px">By</span><span class="articleMetaDataLabel2">{{ article.author }}</span>
                </div>

                <div style="padding: 0px;">
                    <span class="articleMetaDataLabel" style="margin-right: 5px">Published</span><span class="articleMetaDataLabel2">{{ article.date_published }}</span>
                </div>
            </div>
        </div>

        <hr>

        <!-- Expert and Public Taps -->
        <div class="row" style="padding: 0px; width: 100%; margin: auto">
            <div class="col-4" style="padding: 0px;">
                <img src="{% static 'images/icons/Circle2.png' %}" class="tapTalkCommentInterface commentIcon" style="height: 15px; width: 15px; left: 0px;" />
                <label class="tapTalkCommentInterface tapLabel" style="left: 0; font-weight: bold">1 Expert Taps</label>
            </div>

            <div class="col-4"></div>
            
            <div class="col-4" style="padding: 0px;">
                <label class="tapLabel" style="font-weight: bold;">3 Public Taps</label>
                <img src="{% static 'images/icons/Circle1.png' %}"  class="commentIcon" />
            </div>
        </div> 
        
    </div>

    <div id="#taptalkOn" class="row" style="padding: 0px;">
        <div class="comments col" style="padding: 0px;">
            <img src="{% static 'images/GreyLine.png' %}" class="lineInTheMiddle" />
        </div>
        <div class="align-items-center col-10" style="margin-top: 5px">
        </div>
        <div class="comments col" style="padding: 0px;">
            <img src="{% static 'images/GreyLine.png' %}" class="lineInTheMiddle" />

        </div>
    </div>   

    <!-- Article Content -->
    {% for section in article.sections.all %}
    <div id="#taptalkOn" class="row" style="padding: 0px;">
        <div class="comments col" style="padding: 0px;">
            <input id="OpenExpertButton" value="Expert Comment" type="image" src="{% static 'images/icons/Circle2.png' %}" class="tapTalkCommentInterface commentIcon callComment" style="position: absolute; left: 29%; top: 3%" />
            <img src="{% static 'images/GreyLine.png' %}" class="lineInTheMiddle" />
        </div>
        <div class="align-items-center col-10">
                <article class="articleContent">
                    {{ section.paragraph }}
                </article>
        </div>
        <div class="comments col" style="padding: 0px;">
            <img src="{% static 'images/GreyLine.png' %}" class="lineInTheMiddle" />
            <input id="OpenUserButton" value="User Comment" type="image" src="{% static 'images/icons/Circle1.png' %}" class="tapTalkCommentInterface commentIcon callComment" style="position: absolute; left: 27%; top: 3%" />

        </div>
    </div>   
    {% endfor %}


<!--framework for the Expert Comments-->
<!--wrapper for the Expert Comments panel-->
<div class="NeedBorders sidePanel panelWrapper" id="expertCommentsPanelWrapper" style="padding: 0px;">
<div class="NeedBorders sidePanel backdrop" id="transparentEffectExpert"></div>
<!--Establish the internal workings of the comments-->
<div id="NeedBorders expertCommentsPanel" style="padding: 0px;">
    <div class="backdrop" style="height: 25%">

    </div>
    
    <div class="numOfTaps">
        <label id="numOfExpertComments">1</label> EXPERT TAP ON THIS PARAGRAPH
    </div>
    
    <div class="NeedBorders commentContentWrapper" style="padding: 0px;">
        <div class="commentLabel">
            <b class="username">
                Mr Toh
            </b>
            &nbsp;
            <b class="timeLastPosted">
                30/03/2020, 1647hrs
            </b>
                &nbsp;
        </div>

        <div class="NeedBorders commentContent">
            The article is correct in regards to companies needing to be more careful with the way they handle things. However, given the data of report 616 I do not believe a fininancial crash is on eminent.
        </div>

        <div class="commentControlPanel">
            <input class="squareIcon" src="{% static 'images/icons/UpVote.png' %}" type="image" value="Up Vote" />
            <b class="numOfUpvotes" style="color: red;">
                -5
            </b>
            &nbsp;
            <input class="squareIcon" src="{% static 'images/icons/Circle3.png' %}" type="image"  value="Reply" />Reply
            &nbsp;
            <input id="redirectExpert" class="roundButton expertVerificationButton" type="button" value="Verify Expert Status" />
        </div>
    </div>
</div>
</div>

<!--framework for the User Comments-->
<!--wrapper for the User Comments panel-->
<div class="NeedBorders sidePanel panelWrapper" id="userCommentsPanelWrapper" style="padding: 0px;">
<div class="NeedBorders sidePanel backdrop" id="transparentEffectUser"></div>
<!--Establish the internal workings of the comments-->
<div id="NeedBorders userCommentsPanel" style="padding: 0px;">
    <div class="backdrop" style="height: 25%">

    </div>
    
    <div class="numOfTaps">
        <label id="numOfUserComments">1</label> USERS TAP ON THIS PARAGRAPH
    </div>
    
    <div class="commentContentWrapper" style="padding: 0px;">
        <div class="NeedBorders commentLabel">
            <b class="username">
                Greatest Fan!
            </b>
            &nbsp;
            <b class="timeLastPosted">
                30/03/2020, 1652hrs
            </b>
                &nbsp;
        </div>

        <div class="NeedBorders commentContent">
            Praise the Sun! Halimah Yacob is the most humble president.
        </div>

        <div class="commentControlPanel">
            <input class="squareIcon" src="{% static 'images/icons/UpVote.png' %}" type="image" value="Up Vote" />
            <b class="numOfUpvotes">
                100
            </b>
            &nbsp;
            <input class="squareIcon" src="{% static 'images/icons/Circle3.png' %}" type="image"  value="Reply" />Reply
        </div>
    </div>

                <div class="commentContentWrapper" style="padding: 0px;">
        <div class="NeedBorders commentLabel">
            <b class="username">
                Woke Skeptic!
            </b>
            &nbsp;
            <b class="timeLastPosted">
                30/03/2020, 1651hrs
            </b>
                &nbsp;
        </div>

        <div class="NeedBorders commentContent">
            Better than trump and Clinton...not that you have to try hard to be better...
        </div>

        <div class="commentControlPanel">
            <input class="squareIcon" src="{% static 'images/icons/UpVote.png' %}" type="image" value="Up Vote" />
            <b class="numOfUpvotes">
                50
            </b>
            &nbsp;
            <input class="squareIcon" src="{% static 'images/icons/Circle3.png' %}" type="image"  value="Reply" />Reply
        </div>
    </div>

    <div class="commentContentWrapper" style="padding: 0px;">
        <div class="NeedBorders commentLabel">
            <b class="username">
                Toh Jian Hao
            </b>
            &nbsp;
            <b class="timeLastPosted">
                29/03/2020, 1642hrs
            </b>
                &nbsp;
        </div>

        <div class="NeedBorders commentContent">
            Hi. Is this the Straits Times Website?
        </div>

        <div class="commentControlPanel">
            <input class="squareIcon" src="{% static 'images/icons/UpVote.png' %}" type="image" value="Up Vote" />
            <b class="numOfUpvotes" style="color: red">
                -1000
            </b>
            &nbsp;
            <input class="squareIcon" src="{% static 'images/icons/Circle3.png' %}" type="image"  value="Reply" />Reply
        </div>
    </div>

</div>
</div>

<!-- <div class="container">

    MESSAGES TO ALERT THE USER IF THEY HAVE SUCCESSFULLY COMMENTED/LOGGED IN

    {% if messages %}
        {% for message in messages %}
            <div style='color:red;'>{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% if request.session.user_name %}
        <p>Hi! You have been logged in as {{ request.session.user_name }}</p> 
    {% endif %}

    ARTICLE INFORMATION

    <h1>{{ article.headline }}</h1>

    <p>{{ article.byline }}</p>

    <p>By: {{ article.author }}</p>

    <p>Published on: {{ article.date_published }}</p>

    <div class="text-center">
        <img src="{{ article.picture_src }}" alt="img" class="rounded" width="50%">
    </div>
    
    ARTICLE BODY

    {% for section in article.sections.all %}
        <p>{{ section.paragraph }}</p>
    {% endfor %}

    <hr>

    COMMENT FIELD

    <p>Post comment:</p>

    <form action="{% url 'post_comment' article.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="Comment">
        <input type="submit" name="Submit">
    </form>

    <hr>

    COMMENT SECTION

    <p>List of comments:</p>

    <ul>
        {% for section in article.sections.all %}
            
            {% for comment in section.comments.all %}
                <li><b>{{ comment.creator }}: </b>{{ comment }}</li>
            {% endfor %}
            
        {% endfor %}
    </ul>

</div> -->

{% endblock %}