{% extends "./base.html" %}

{% block content %}

<div class="container">

    <!-- MESSAGES TO ALERT THE USER IF THEY HAVE SUCCESSFULLY COMMENTED/LOGGED IN -->

    {% if messages %}
        {% for message in messages %}
            <div style='color:red;'>{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    {% if request.session.user_name %}
        <p>Hi! You have been logged in as {{ request.session.user_name }}</p> 
    {% endif %}

    <!-- LOGIN BUTTONS -->

    <p><a href="{{ facebook_login }}">
        <p>User Login:</p>
        <img width="25%" src="{{ facebook_logo }}" alt="Expert Login">
    </a></p>

    <p><a href="{{ linkedin_login }}">
        <p>Expert Login:</p>
        <img width="20%" src="{{ linkedin_logo }}" alt="User Login">
    </a></p>

    <!-- ARTICLE INFORMATION -->

    <h1>{{ article.headline }}</h1>

    <p>{{ article.byline }}</p>

    <p>By: {{ article.author }}</p>

    <p>Published on: {{ article.date_published }}</p>

    <div class="text-center">
        <img src="{{ article.picture_src }}" alt="img" class="rounded" width="50%">
    </div>
    
    <!-- ARTICLE BODY -->

    {% for section in article.sections.all %}
        <p>{{ section.paragraph }}</p>
    {% endfor %}

    <hr>

    <!-- COMMENT FIELD -->

    <p>Post comment:</p>

    <form action="{% url 'post_comment' article.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="Comment">
        <input type="submit" name="Submit">
    </form>

    <hr>

    <!-- COMMENT SECTION -->

    <p>List of comments:</p>

    <ul>
        {% for section in article.sections.all %}
            
            {% for comment in section.comments.all %}
                <li><b>{{ comment.creator }}: </b>{{ comment }}</li>
            {% endfor %}
            
        {% endfor %}
    </ul>

</div>

{% endblock %}