{% extends "./base.html" %}

{% block content %}

<div class="container">

    <h1>This is the main page. It will contain a list of articles.</h1>

    <!-- ARTICLE LIST -->

    <hr>

    <p>List of articles:</p>

    <ul>
        {% for article in article_list %}
        <li>
            <a href="{% url 'article' article.id %}">
                {{ article.headline }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <hr>

    <p><a href="/profile/2">This goes to the profile page (of Obama for now).</a></p>

    <p><a href="{{ linkedin_login }}">EXPERT LOGIN</a></p>

    <p><a href="{{ facebook_login }}">USER LOGIN</a></p>



</div>

{% endblock %}