{% extends "./base.html" %}

{% block content %}

<div class="container">

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h1>This is the profile page.</h1>

    <p>Name: {{ user.name }}</p>
    <p>Biography: {{ user.biography }}</p>

    <hr>

    <!-- SAVED ARTICLES SECTION -->

    <p>List of saved articles:</p>

    {% if user.saved_articles.all %}
        <ul>
            {% for article in user.saved_articles.all %}
                <li>{{ article.headline }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not saved any articles.</p>
    {% endif %}

    <!-- COMMENTS HISTORY SECTION -->

    <p>Comment history:</p>

    {% if user.comments.all %}
        <ul>
            {% for comment in user.comments.all %}
                <li><b>{{ comment.article_section.article.get }}:</b> {{ comment.content }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not made any comments.</p>
    {% endif %}

</div>



{% endblock %}