/* The sidepanel menu */
.sidePanelMenu {
      height: 100%;
      padding-top: 60px; /* Place content 60px from the top */
      left: -350px;
      width: 350px; /* 0 width - change this with JavaScript */
}

/* The sidepanel links */
.sidePanelMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidePanelMenu a:hover {
  color: #f1f1f1;
}

.closeBtnSideMenu:hover {
  background-color: #444;
}